.suggestion-div{
    cursor: pointer;
    margin-top: 10px;
    padding: 0 30px;
    height: 85px;
    width: 45vw;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: left;
}

.suggestion-div:hover {background-color: rgb(221, 221, 221);}

.img-block, .content-block{
    height: 80px;
    width: 80px;
    border-radius: 5px;
    overflow: hidden;
}

#sugg-img{
    height: 100%;
}

.content-block {
    width: 400px;
    font-family: "Quicksand";
    font-weight: 600;
    font-size: large;
    padding:  5px 20px;
}

#subless{
    font-size: 20px;
    color: rgb(49, 49, 49);
}