.oval-wrap{
    filter: drop-shadow(-1px 6px 30px rgba(50, 50, 0, 0.5));
    overflow: visible;
}

.oval {
    position: relative;
    box-shadow: 0 0 100px 50px black inset;
    background-image: url("E:/MERN/VCode/my_food_flipr/src/assets/userHome1.jpg");
    height: 60vh;
    background-position: 10% 40%;
    background-size: cover;
    filter: brightness(100%);
    clip-path: ellipse(70% 95% at 50% 5%);
}

.over-oval{
    top: 0;
    position: absolute;
}

.sectoru2, .sectoru3, .sectoru4 {
    margin-top: 15vh;
    height: 100vh;
    background-color: white;
}

.sectoru4 {
    height: 40vh;
    background-color: antiquewhite;
}

.headTitle {
    font-size: 55px;
    font-weight: 300;
    margin-left: 220px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.headSubTitle{
    font-size: 25px;
    font-weight: 300;
    margin-left: 220px;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.bottomHead {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Yatra One";
}

.bottomLogo {
    font-size: 90px;
    line-height: 100px;
    color: rgb(37, 37, 37);
}

.bottomtag {
    font-size: 30px;
    color: rgb(59, 59, 59);
}
.bottomlinks {
    margin-top: 10px;
    font-family: Nunito;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottomlinks > p{
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
}
#rowlinks {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(85, 85, 85);
    width: 50vw;
}